# Eclipse
.project
.classpath
.settings/
bin/

# Java
*.class

# OS
.DS_Store
Thumbs.db

# LaTeX build files
*.aux
*.bcf
*.log
*.out
*.run.xml
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.blg
*.bbl
*.tcp
*.tps
